body {
    padding: 10px;
}

.form-control{
    padding: 10px;
    font-size: large;
    width: 60%;
}

.newlisting{
    padding: 30px 50px;

}

.messages{
    font-size: large;
    padding: 10px;
    padding-left: 0vh;
}

.list-group-item-xxl{
    padding: 20px;
    padding-left: 40px;
}